[include fluidd.cfg]
[mcu CB1]
serial: /tmp/klipper_host_mcu

[include shell_command.cfg]

[include CONFIG/ADDONS/*]
[include CONFIG/SYSTEM/*]
[include CONFIG/MACROS/*]

[include KAMP_Settings.cfg]


[exclude_object]