[dockable_probe]
pin:^Toolhead:gpio20 #Change to where you plug your probe in, endstop or probe pin pulled high (^)
z_offset: 3.2 #Measure per your specific setup
x_offset: -1.8 # negative = left of the nozzle
y_offset: 39 # negative = in front of of the nozzle
speed: 20.0
lift_speed: 30.0
sample_retract_dist: 3
samples: 2
samples_tolerance: 0.008
samples_tolerance_retries: 6
#activate_gcode:
#deactivate_gcode:
drop_first_result: False #Make True if you have first probe inconsistancies

# Important Bits: These values may vary from printer to printer#
dock_position: 251,10 #Where the Klack is docked. ~X245 for v-wheel mount. ~X249 for Frank linear rail. Y value for clearance.
approach_position: 246,15 #same as dock_position for Euclid style probes
detach_position: 225,10,2 #Lower gantry to small Z pos to detach the probe
extract_position: 225,10 #Move that take the probe out of the dock
insert_position: 246,10 #same as dock_position for Euclid style probes

#safe_dock_distance :
#safe_position : approach_position
z_hop: 10.0 #This forces the toolhead up if not homed or moves the toolhead up to this value if already homed
restore_toolhead: True
#dock_retries:
auto_attach_detach: True
attach_speed:75
detach_speed:75
travel_speed:200
check_open_attach: True

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 8,30
mesh_max: 223,201
probe_count: 5,5
algorithm: bicubic
fade_start: 1
fade_end: 0
split_delta_z: 0.025
move_check_distance: 3
mesh_pps: 2,2

[homing_override]
axes: xyz
set_position_z: 0
gcode:

  G90
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    G0 Z10
    G28 X
  {% endif %}

  {% if home_all or 'Y' in params %}
    G0 Z10
    G28 Y
  {% endif %}

  {% if home_all or 'Z' in params %}
    ATTACH_PROBE
    MOVE_AVOIDING_DOCK X=115 Y=115 SPEED=300
    # Probe is already attached, no need to make a return trip to the dock.
    G28 Z  
  {% endif %}